<div class="h-card">
  <aside dir="rtl" class="float-left">
    <img class="u-photo" src="/icon.png" alt="Person with mid-length hair smiling" width="180" height="180" />
  </aside>
  I'm <a href="https://confusedalex.dev" class="p-nickname u-url u-uid">confusedalex</a>, a Software Developer from
  Bonn, Germany. In my spare time, I enjoy
  working on
  some side projects and try to contribute to
  open-source software and OpenStreetMap. Outside of coding, I like to go outside for a walk or hike, listen to music or
  take a ride on my gravel bike.

</div>
