@font-face {
  font-family: "Mono";
  src: url("../fonts/IBMPlexMono-Text.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mono";
  src: url("../fonts/IBMPlexMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
