<hr>
<div id="footer-container">
  {% if config.extra.footer %}
  <div>
    <p>{{config.extra.footer}}</p>
  </div>
  {% endif %}
</div>
<div>
  <div class="retro-buttons-container">
    <a href="https://512kb.club"><img class="retro-button" sizes="88x31" src="https://512kb.club/assets/images/green-team.gif"
        alt="a proud member of the green team of 512KB club" /></a>
    <a href="https://neovim.io/"><img class="retro-button" sizes="88x31" src="/buttons/vim-button.gif" alt="A button that indicated that this site was edited with VIM" /></a>
    <a href="https://transkidsdeservebetter.org/"><img class="retro-button" sizes="88x31" src="/buttons/trans-rights-now.gif" alt="A button that advocates for trans rights" /></a>
    <a href="https://www.gnu.org/software/emacs/"><img class="retro-button" sizes="88x31" src="/buttons/created-with-emacs.gif" alt="A button that states, that this website was created with EMACS" /></a>
  </div>
</div>
