{% set unfiltered_webmentions = load_data(path="static/webmentions.json", format="json") %}
{% set likes = [] %}
{% set comments = [] %}
{% set boosts = [] %}

<!-- The set_global is important here, because otherwise, it would just be set for the current iteration.
I needed way too long to figure this out. -->
{% for mention in unfiltered_webmentions %}
{% if mention["wm-target"] | trim_end_matches(pat="/") | split(pat="/") | last == page.slug %}
{% if mention["wm-property"] == "like-of" %}
{% set_global likes = likes | concat(with=mention) %}
{% elif mention["wm-property"] == "in-reply-to" %}
{% set_global comments = comments | concat(with=mention) %}
{% elif mention["wm-property"] == "repost-of" %}
{% set_global boosts = boosts | concat(with=mention) %}
{% endif %}
{% endif %}
{% endfor %}

<section class="box">
  <h2>Webmentions</h2>

  <!-- Likes -->
  {% if page.extra.syndication %}
  <div>
    <span>Discuss this post on </span>
    {% for key, value in page.extra.syndication %}
    <a href="{{ value }}" class="capitalize u-syndication" rel="syndication"> {{ key }}</a>{% if not loop.last %}, {%
    endif %}
    {% endfor %}
  </div>
  {% endif %}

  {% if likes | length == 0 and comments | length == 0 and boosts | length == 0 %}
  <div class="webmention">
    <p>No webmentions yet. Be the first to comment, like or repost!</p>
  </div>
  {% else %}
  <details {% if likes | length > 0 %}open{% endif %}>
    <summary><span>{{ likes | length}} {% if likes | length == 1%}Like{% else %} Likes {% endif %}</span></summary>
    {% if likes | length == 0 %}
    <p>No likes yet. Be the first to like!</p>
    {% else %}
    <div class="webmention-like">
      {% for mention in likes %}
      {% if mention["wm-property"] == "like-of" %}
      <a rel="noopener" href="{{mention.author.url}}"><img src="{{mention.author.photo}}"
          title="{{mention.author.name}}"></a>
      {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </details>

  <!-- Reposts -->
  {% if comments | length > 0 %}
  <details>
    <summary><span>{{ boosts | length}} {% if boosts | length == 1%}Repost{% else %} Reposts {% endif %}</span>
    </summary>
    {% if boosts | length > 0 %}
    <div class="webmention-repost">
      {% for mention in boosts %}
      {% if mention["wm-property"] == "repost-of" %}
      <a rel="noopener" href="{{mention.author.url}}"><img src="{{mention.author.photo}}"
          title="{{mention.author.name}}"></a>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endif %}
    </div>
  </details>

  <!-- Comments -->
  {% if comments | length > 0 %}
  <details>
    <summary><span>{{ comments | length}} {% if comments | length == 1%}Comment{% else %} Comments {% endif %}</span>
    </summary>
    {% for mention in comments %}
    {% if mention["wm-property"] == "in-reply-to" %}
    <div class="webmention">
      <img src="{{ mention.author.photo }}" alt="{{ mention.author.name }}" class="webmention-author-photo" />
      <blockquote class="webmention-content">
        <strong><a href="{{ mention.author.url }}">{{ mention.author.name }}</a> commented:</strong>
        {{ mention.content.html | safe }}
        <p>
          <a href="{{ mention.url }}">Source</a> | Published:
          <time>{{ mention.published | date(format="%B %d, %Y") }}</time>
        </p>
      </blockquote>
    </div>
    {% endif %}
    {% endfor %}
  </details>
  {% endif %}
  {% endif %}
</section>
